Repository hufslion10th/HUFSALGO, pull requests merged in 2022-07, with the labels that each got.

#6 원격저장소 기본 세팅
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-failing-test.md
  .github/ISSUE_TEMPLATE/3-docs-bug.md
  .github/ISSUE_TEMPLATE/4-feature-request.md
  .github/ISSUE_TEMPLATE/5-enhancement-request.md
  .github/ISSUE_TEMPLATE/6-security-report.md
  .github/ISSUE_TEMPLATE/7-question-support.md
  .github/pull_request_template.md
  .gitignore
Labels: documentation

#20 [BOJ] 10871 X보다 작은 수
  .github/ISSUE_TEMPLATE/4-feature-request.md
  BOJ/10871/4923.py
  BOJ/14467/4923.py
Labels: BOJ

#10 [BOJ] 3273 두 수의 합
  BOJ/3273/Hellol77.py
Labels: BOJ

#23 [BOJ] 10871 X보다 작은 수
  BOJ/10871/hotsun.py
Labels: BOJ

#1 [BOJ] 7562 (7/12)
  .gitignore
  .idea/.gitignore
  .idea/HUFSALGO.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  BFS/BOJ_7562(BFS).py
  DFS/BOJ_7562(DFS).py
Labels: invalid, BOJ

#21 [BOJ] 2493 탑
  BOJ/2493/Hellol77.py
Labels: BOJ

#31 [BOJ] 17478 재귀함수가 뭔가요?
  BOJ/17478/4923_for-loop.py
  BOJ/17478/4923_recursion.py
Labels: BOJ

#30 BOJ 17478 재귀함수가 뭔가요?
  BOJ/1074/parkjju.js
  BOJ/11729/parkjju.js
  BOJ/17478/parkjju.js
Labels: BOJ

#34 [BOJ] 10808 알파벳 개수
  BOJ/10808/SeolHuiGwan9478.cpp
  BOJ/10871/SeolHuiGwan9478.cpp
  BOJ/1475/SeolHuiGwan9478.cpp
Labels: BOJ

#24 [BOJ] 1475 방 번호
  BOJ/1475/wjjin.py
Labels: BOJ

#38 [BOJ] 11729 하노이 탑 이동 순서
  BOJ/11729/4923.py
Labels: BOJ
